body{
	background-color: #f6f3ee;
}
.logo-top-block{
	width: 280px;
	margin: 0 auto;
	height: 90px;
	margin-top: 20px;
}
.logo-top-block a{
	display: block;
	width: 200px;
	height: 186px;
	background: url(../img/logo.png);
	background-size: 200px 186px;
	margin: 0 auto;
}
.login-container .login-form{
	width: 280px;
	height: 220px;
	background-color: white;
	margin: 0 auto;
	margin-top: 120px;
	padding: 30px;
-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.23);
-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.23);
box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.23);
}
.login-container .login-form ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 16px;
	color:#777777;
	font-family: Helvetica;
}
.login-container .login-form ul li:first-child{
	margin-top: 0px;
}
.login-container .login-form ul li{
	width: 100%;
	margin-top: 10px;
}

.login-container .login-form ul li input[type="text"] input[type="password"]{
	width: 95%;
	border-radius: 0px;
	margin-top: 5px;
	height: 30px;
	font-size: 20px;
	font-family: helvetica;
	background-color: #f6f6f6;
}
.login-container .login-form ul li input[type="checkbox"]{
	padding-right: 10px;
	margin-top: -3px;
}
.login-container .login-form ul li input:focus{
	border-color: #5e5e5e;
	box-shadow: none;
}
.login-container .login-form ul li input[type="button"]{
	float: right;
}
.login-container .error {
	color: red;
}


/* Стили для внутренних CRM/ERP */
.header-crm{
	margin-top: 30px;
}
.header-crm .logo-head{
	display: block;
	width: 147px;
	height: 145px;
	background: url(../img/logo.png);
	background-size: 147px 145px;
	margin-left: 30px;
}
.header-crm .time{
	margin-top: 60px;
}
.header-crm .time h2{
	font-style: italic;
	font-size: 22px;
	font-family: helvetica;
	padding: 0px;
}
.header-crm .time span{
	display: block;
	color: #ebae08;
	font-size: 15px;
	margin-top: -16px;
}
.header-crm .login-out{
	text-align: right;
	margin-top: 75px;
	font-size: 15px;
	font-weight: bold;
}
.header-crm .login-out a{
	color: #ebae08;
	font-size: 14px;
	font-weight: normal;
	border-bottom: 1px dashed #ebae08;
}
.header-crm .login-out a:hover{
	text-decoration: none;
	border-bottom: none;
}
.main-block{
	padding-bottom: 40px;
	background-color: white;
	margin-top: 40px;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.25);
}
.menu-left{
	margin-left: 20px;
	margin-top: 40px;
}
.menu-left ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-left ul li{
	margin-top: 15px;
}.menu-left ul li i{
	padding-right: 10px;
}
.menu-left ul li:first-child{
	margin-top: 0px;
}
.menu-left ul li a{
	font-size: 16px;
	color: #392f2d;
}
.menu-left ul li a:hover{
	text-decoration: none;
	color: #ebae08;
}
.menu-left ul li #active{
	text-decoration: none;
	color: #ebae08;
}
.main-content{
	margin-left: 0px;
	margin-top: 40px;
	padding: 0px 40px;
}
.table-client table{
	width: 100%;
}
.table-client table td{
	padding: 5px 20px;
	border: 2px solid white;
	color: black;
	text-align: center;
}
.table-client table thead td{
	background-color: #faf5e1;
	font-weight: bold;
	font-size: 16px;
}
.table-client table thead td{
	padding: 15px
}
.table-client table tbody tr:nth-child(odd){
	background-color: #eef6e6;
}
.table-client table tbody tr:nth-child(even){
	background-color: #ebf6f6;
}
.table-client table td:nth-child(1){
	width: 20%;
}
.table-client table td:nth-child(2){
	width: 40%;
}
.table-client table td:nth-child(3){
	width: 25%;
}
.table-client table td:nth-child(4){
	width: 30%;
}
.table-client table td i{
	display: block;
	width: 14px;
	height: 23px;
	background: url(../img/bonus.png);
	background-size: 14px 23px;
	float: left;
	margin-left: 3px;
}

.clear{
	clear: both;
}
.menu-block ul{
	width: 110%;
	list-style: none;
	padding: 0;
	margin-top: -20px;
	margin-left: -22px;
}
.menu-block ul li{
	padding: 10px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
	width: 200px;
	height: 100px;
	color: white;
	background-color: #795838;
}
.menu-block ul li span{
	font-weight: bold;
	font-size: 16px;
}
.menu-block ul li strong{
	float: right;
}
.menu-block ul li i{
	display: block;
	margin-top: 40px;
}
.menu-block ul li:hover{
	background-color: #846343;
		cursor: pointer;
}
.menu-block ul li:active{
	background-color: #694828;
}
.main-content{
	padding-bottom: 50px;
}
.client-in-menu-block input{
	width: 160px;
	border-radius: 0px;
	margin-top: 5px;
	height: 20px;
	font-size: 14px;
	font-family: helvetica;
	background-color: #f6f6f6;
}
.client-in-menu-block input:focus{
	border-color: #5e5e5e;
	box-shadow: none;
}
.menu-block h4{
	padding-bottom: 0px;
}
.client-in-menu-block, .menu-items, .menu-result{
	border-bottom: 2px solid black;
	font-size: 15px;
	padding-bottom: 30px;
	padding-top: 10px;
}
.client-in-menu-block{
	padding-top: 0px;
}
.client-in-menu-block input{
	margin-left: 10px;
}
#ajax-in-client-menu{
	padding-bottom: 40px;
}
.menu-result{
	border: none;
}
.menu-result input{
	width: 160px;
	height: 40px;
	background-color: #ebae08;
	border: none;
	border-bottom: 3px solid orange;
	color: white;
}

